@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  font-family: "Open Sans", sans-serif;
}

h3 {
  font-size: 2rem;
  font-weight: 800;
  padding: 0.5rem 0;
}

p {
  padding-bottom: 1rem;
}
@layer utilities {
  .bg-transparent {
    background-color: transparent;
  }
}

.open-sans-300 {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.open-sans-500 {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.open-sans-800 {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
.btn {
  @apply flex items-center justify-center px-4 py-2 text-sm font-bold rounded-md transition text-indigo-600 bg-indigo-100 hover:bg-indigo-200 border border-transparent;
  @apply sm:px-6 sm:py-2.5 sm:text-base;
  @apply md:px-8 md:py-3 md:text-lg;
  @apply lg:px-10 lg:py-4;
}

.btn-primary {
  @apply flex items-center justify-center px-4 py-2 text-sm font-bold rounded-md transition bg-brand-purple   border-brand-purple text-white hover:bg-opacity-10 hover:text-brand-green;
  @apply sm:px-6 sm:py-2.5 sm:text-base;
  @apply md:px-8 md:py-3 md:text-lg;
  @apply lg:px-10 lg:py-4;
}

.btn-sm {
  @apply flex items-center justify-center px-3 py-1.5 text-xs font-bold rounded-md transition text-indigo-600 bg-indigo-100 hover:bg-indigo-200 border border-transparent;
  @apply sm:px-4 sm:py-2 sm:text-sm;
  @apply md:px-5 md:py-2.5;
}

.btn-xs {
  @apply flex items-center justify-center px-2 py-1 text-xs font-bold rounded-md transition text-indigo-600 bg-indigo-100 hover:bg-indigo-200 border border-transparent;
  @apply sm:px-3 sm:py-1.5;
  @apply md:px-4 md:py-2 md:text-sm;
}

.input {
  @apply border border-gray-300 rounded-md text-sm px-3 py-1.5;
  @apply md:px-4 md:py-2 md:text-base;
}

.hexagon-logo {
  @apply inline-block bg-white p-2; /* This might already be responsive, but adjust as needed for your design */
}

/* Add any additional specific styles you need here */
