@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  font-family: "Open Sans", sans-serif;
}
.open-sans-300 {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.open-sans-500 {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.open-sans-800 {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
.btn {
  @apply w-full  flex items-center justify-center px-8 py-3 border border-transparent text-base font-bold rounded-md transition text-indigo-600 bg-indigo-100 hover:bg-indigo-200 md:py-4 md:text-lg md:px-10;
}

.btn-primary {
  @apply w-full flex items-center justify-center px-8 py-3 border border-transparent border-brand-green text-base transition font-bold rounded-md text-white bg- hover:bg-transparent hover:text-brand-green md:py-4 md:text-lg md:px-10;
}

/* styles.css or globals.css */
.hexagon-logo {
  @apply inline-block bg-white p-2; /* Adjust padding and size as needed */
}
/* Add any additional specific styles you need here */
